<%= form_with(model: @contact, local: true) do |form| %>
<p><%= notice %></p>
  <div class="contact_name">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>
    <div class="contact_email">
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>
  <div class="contact">
    <%= form.label :content %>
    <%= form.text_field :content %>
  </div>
  <%= form.submit %>
<% end %>